.auth-body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #EEF1EF;
  justify-content: center; 
}

.auth-center {
  flex: 0 0 25vw; 
  align-self: center;
  box-shadow: 10px 10px 5px gray;
  width: 25vw;
  height: 80vh;
  background-color: #A9B4C2;
  border-radius: 25px;
 
}
